* {
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
    height: 50px;
    z-index: 6;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    transition: 0.25s cubic-bezier(.4,0,.2,1);
}

header.dark {
    background-color: rgb(227, 227, 227);
}

header h1 {
    font-size: 25px;
    margin: auto;
    align-self: center;
}

#settings-ico {
    height: 30px;
    width: 30px;
    margin: auto 10px auto 0;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.1s;
}
#settings-ico:hover {
    transform-origin: 50% 50%;
    transform: rotate(5deg);
}

#settings-container {
    position: absolute;
    right: 5px;
    top: 60px;
    height: 80vh;
    width: 310px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / .3);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
}

#settings-container.shown {
    visibility: visible;
    opacity: 1;
}
#settings-container::before {
    background-color: whitesmoke;
    content: "";
    display: block;
    transform: rotate(45deg);
    position: absolute; 
    right: 12px;
    top: -5px;
    width: 15px;
    height: 15px;
}

#settings-header {
    position: relative;
    font-size: 18px;
    background-color: whitesmoke;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #dadada
}
#settings-nav-button {
    position: absolute;
    top: 3px;
    left: 6px;
    height: 90%;
    width: 30px;
    cursor: pointer;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#settings-nav-button::after {
    content: "";
    display: block;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
#settings-header h4, #settings-nav-button {
    transition: opacity 200ms ease-in-out;
    margin: 0;
}
#settings-header h4.fade, #settings-nav-button.fade {
    opacity: 0;
}
#settings-overflow-container {
    display: flex;
    flex: auto;
    overflow: hidden;
}
#settings-nodes-container {
    position: relative;
    display: flex;
    flex: auto;
    transition: translate 220ms ease;
}
#settings-nodes-container.page-2 {
    translate: -100%;
}
#settings-nodes-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#settings-nodes-container > ul, #settings-nodes-container > div {
    width: 100%;
    height: 100%;
    position: absolute;
}
.settings-page-2 {
    display: none;
    translate: 100%;
    border-radius: 8px;
}
.settings-page-2.active {
    display: block;
}
.settings-page-2 > div.card.double {
    translate: 0% 50%;
    margin: auto;
    height: 116px;
    width: 75px;
}

#settings-nodes-container li {
    margin: 8px 0;
    background-color: whitesmoke;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding-left: 10px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    /* font-size: 16px; */
    transition: background-color 50ms
}

#settings-nodes-container li.settings-category {cursor: pointer}
#settings-nodes-container li.settings-category:hover {background-color: rgb(239, 239, 239);}
#settings-nodes-container li.settings-category::after {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    margin-right: 5px;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}
.toggle {
    height: 29px;
    width: 50px;
    border: 1px solid rgba(0,0,0,0.15);
    position: absolute;
    right: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 120ms ease;
}
.toggle-switch {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 2px;
    border-radius: 100%;
    background: linear-gradient(180deg, whitesmoke, #ededed);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: rgb(0 0 0 / 75%) 0 0 1px;
    /* transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1) */
    transition: left 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    /* transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1) */
}
.toggle.active {background-color: rgb(90, 227, 97);}
.toggle.active .toggle-switch {left: 22px;}
#settings-nodes-container .settings-checkbox:first-of-type {
    border-top: 1px solid #dadada;
    margin-top: 2px;
}
#settings-nodes-container .settings-label {
    margin-top: 16px;
    font-size: 13px;
    background-color: transparent;
    color: #808080;
    border: none;
    padding: 4px 6px;
}
#settings-nodes-container .settings-checkbox {
    border-top: none;
    margin: 0 0;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    position: relative;
}
#settings-nodes-container .settings-checkbox:hover {
    background-color: rgb(239, 239, 239);
}
.settings-checkbox.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 14px;
    border-right: 2px solid rgb(28, 116, 227);
    border-bottom: 2px solid rgb(28, 116, 227);
    right: 18px;
    transform: rotate(45deg);
}
.scroll-container {
    width: 100%;
    height: 100%;
    border-radius: 8px; overflow-y: scroll;
    padding: 10px 0 20px 0 !important;
}
#settings-variations {
    overflow: hidden;
}
#settings-nodes-container .settings-counter {
    position: relative;
    height: 62px;
    line-height: 62px;
}
.settings-counter input {
    width: 30px;
    height: 28px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    margin-left: auto;
    margin-right: 8px;
    text-align: center;
    font-size: 16px;
}
.settings-counter input:focus {
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    /* box-shadow: 0 1px 2px rgb(0 0 0 / 15%); */
}
.arrow-container-up, .arrow-container-down {
    position: absolute;
    right: 8px;
    width: 30px;
    height: 17px;
    cursor: pointer;
}
.arrow-container-up {top: 0;}
.arrow-container-down {bottom: 0;}

.counter-arrow-up, .counter-arrow-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    right: 9px;
}
.counter-arrow-up {top: 7px; border-bottom: 5px solid rgb(180, 180, 180);}
.counter-arrow-down {bottom: 7px; border-top: 5px solid rgb(180, 180, 180);}

.cube {
    height: 44px;
    width: 44px;
    text-align: center;
    line-height: 42px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    font-weight: 550;
    position: relative;
    background-color: rgb(235, 229, 188);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 50ms, opacity 50ms;
    user-select: none;
}

.cube:hover {filter: brightness(98%); transition: filter 0s}
.cube:active {filter: brightness(96%)}
.cube.hidden {
    opacity: 0;
}
.cube.red:not(#puzzle-container .wild-cube)::after {
    display: block;
    content: "";
    border-radius: 100%;
    height: 26px;
    width: 26px;
    background-color: rgb(196, 41, 38);
}

.cube.blue:not(#puzzle-container .wild-cube)::after {
    display: block;
    content: "";
    border-radius: 100%;
    height: 26px;
    width: 26px;
    background-color: rgb(28, 116, 227)
}   

.cube.green:not(#puzzle-container .wild-cube)::after {
    display: block;
    content: "";
    border-radius: 100%;
    height: 26px;
    width: 26px;
    background-color: rgb(34, 136, 87)
}

.cube.yellow:not(#puzzle-container .wild-cube)::after {
    display: block;
    content: "";
    border-radius: 100%;
    height: 26px;
    width: 26px;
    background-color: rgb(230, 206, 53)
}

#new-answer .cube:not(.wild-cube) {
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

.inputcube {
    bottom: 2px;
    margin: 2px;
    align-self: flex-end;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 30%)
}

.keyboard-cube, .keyboard-button {
    cursor: pointer;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 15%);
    margin: 3px !important;
}

.union:not(#puzzle-container .wild-cube), .intersect:not(#puzzle-container .wild-cube) {
    /* color: rgb(227, 39, 36); */
    /* font-weight: 600; */
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.union:not(#puzzle-container .wild-cube)::after {
    content: url(/icons/union.svg);
}

.intersect:not(#puzzle-container .wild-cube)::after {
    content: url(/icons/intersect.svg);
}

.subtract:not(#puzzle-container .wild-cube)::after {
    content: "–";
    color: rgb(227, 39, 36);
    font-size: 45px;
    font-weight: 500;
    position: relative;
    bottom: 2px;
}

.not:not(#puzzle-container .wild-cube)::after {
    content: "'";
    color: rgb(227, 39, 36);
    font-size: 45px;
    font-weight: 500;
    position: relative;
    top: 5px;
}

.universe:not(#puzzle-container .wild-cube)::after, .empty-set:not(#puzzle-container .wild-cube)::after, .must-contain::after, .equals::after {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.universe:not(#puzzle-container .wild-cube)::after {
    content: "V";
    color: rgb(28, 116, 227);
    font-size: 38px;
    font-weight: 100;
}

.empty-set:not(#puzzle-container .wild-cube)::after {
    content: "Ʌ";
    color: rgb(28, 116, 227);
    font-size: 38px;
    font-weight: 100;
}

.must-contain::after {
    content: "<";
    color: rgb(28, 116, 227);
    font-size: 43px;
    font-weight: 100;
    position: relative;
    bottom: 3px;
}

.equals::after {
    content: "=";
    color: rgb(28, 116, 227);
    font-size: 48px;
    font-weight: 100;
    position: relative;
    bottom: 2px;
}

.numeral1::after, .numeral2::after, .numeral3::after, .numeral4::after, .numeral5::after, .numeral6::after{
    color: rgb(34, 136, 87);
    font-size: 32px;
}

.numeral1::after {content: "1"}
.numeral2::after {content: "2"}
.numeral3::after {content: "3"}
.numeral4::after {content: "4"}
.numeral5::after {content: "5"}
.numeral6::after {content: "6"}

.left-parenthesis, .right-parenthesis {
    margin: 0 3px;
    line-height: 48px;
    color: white;
    font-size: 30px;
}

#new-answer .left-parenthesis, #new-answer .right-parenthesis {
    box-shadow: none;
    color: black;
}
#solution-container .left-parenthesis, #solution-container .right-parenthesis, #restriction-container .left-parenthesis, #restriction-container .right-parenthesis {
    position: absolute;
}

.left-parenthesis::after {content: "("}
.right-parenthesis::after {content: ")"}

#board-container {
    position: relative;
    display: flex;
    width: min(100%, 810px);
    height: 540px;
    max-width: 1000px;
    border-radius: 3px;
    margin: auto;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    flex-direction: column;
}
#parent-restraint-container {
    width: 100%;
    height: 320px;
    margin: 5px 0;
    display: flex;
}

.restraint-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgb(225, 203, 37);
    margin: 0 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    flex-direction: column;
}

.restraint-container h3 {
    font-size: 1.17em;
    color: white;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.restraint-cube {
    box-shadow: 3px 3px 5px rgb(0 0 0 / 20%);
    margin: 5px;
}

#forbidden-container, #permitted-container, #required-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, 54px);
    grid-template-rows: repeat(auto-fill, 54px);
    justify-content: center;
    padding: 3px;
}

#input-container {
    display: flex;
    position: relative;
    margin: 5px;
    flex: auto;
    background-color: rgb(80, 19, 38);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    padding-top: 10px;
}

#input-container h3 {
    font-size: 1.17em;
    color: white;
    position: relative;
    bottom: 10px;
}

#blank-wild-container {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -104px;
    transition: transform 0.2s;
}
#blank-wild-container:hover {
    filter: none;
    transform: scale(1.03);
}
#blank-wild-container div {
    cursor: pointer;
}
.wild {
    opacity: 0;
}

.wild:hover {
    opacity: .7;
}

#left-input-container {
    display: flex;
    flex-direction: column;
    width: 568px;
}

#restriction-view-container, #solution-view-container {
    display: flex;
    height: 90px;
    padding: 0 15px;
    flex-wrap: wrap;
    position: relative;
}

#restriction-container, #solution-container {
    border-radius: 5px;
    align-self: flex-end;
    height: 52px;
    width: 100%;
    cursor: text;
    position: relative;
    bottom: 10px;
    transition: ease 0.1s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2px 0;
}

.solution-cube {
    margin: 2px;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
    position: absolute;
}
#new-answer .cube {
    margin: 4px 2px;
    position: relative;
    cursor: default;
}
#restriction-container:hover, #solution-container:hover {
    background-color: rgb(71, 17, 34);
    transition-duration: 0s;
}
/* #restriction-container.active, #solution-container.active {
    background-color: rgb(71, 17, 34);
    transition-duration: 0s;

} */
/* #restriction-container:active, #solution-container:active {
    background-color: rgb(67, 16, 32);
} */

#restriction-bar, #solution-bar {
    position: relative;
    bottom: 25px;
    width: 100%;
    align-self: flex-end;
    background-color: white;
    height: 6px;
    display: flex;
    justify-content: center;
}
#cursor {
    position: absolute;
    top: 8px;
    left: 271px;
    height: 38px;
    width: 2.5px;
    border-radius: 10px;
    background-color: white;
    transition: opacity 100ms ease
}
#cursor:not(.blink-animation) {
    opacity: 0;
}
#cursor.blink-animation {
    animation: blink 1s ease infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    30% {opacity: 1;}
    60% {opacity: 0;}
    90%{opacity: 0;}
}

#equals-container {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    margin: 0 5px;
    flex: auto;
    height: 17px;
    width: 38px;
    flex-grow: 0;
}

#equals-bar1 {
    background-color: white;
    height: 6px;
    width: 100%;
}

#equals-bar2 {
    background-color: white;
    height: 6px;
    width: 100%;
    align-self: flex-end;
}

#right-input-container {
    display: flex;
    width: 174px;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: center;
}

#solution-form-container {
    position: absolute;
    width: 154px;
    height: 28px;
    border-radius: 8px;
    background-color: rgb(71, 17, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#solution1-toggle, #solution2-toggle {
    color: white;
    font-weight: 550;
    font-size: 13px;
    line-height: 26px;
    height: 26px;
    width: 76px;
    text-align: center;
    z-index: 2;
}

#solution-form-toggle-div {
    position: absolute;
    height: 28px;
    width: 76px;
    left: 0;
    border-radius: 8px;
    background-color: rgb(62, 15, 30);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.14s left;
}

#solution-form-toggle-div.move {
    left: calc(100% - 74px);
}

.restraint-container #solution-form-container {
    bottom: 6px;
    right: 12px;
    background-color: rgb(205, 185, 30);
}
.restraint-container #solution-form-toggle-div {
    background-color: rgb(192, 173, 28);
}

#goal-view-container {
    display: flex;
    width: 174px;
    height: 180px;
    flex-wrap: wrap;
    align-self: center;
}
#goal-container {
    border-radius: 5px;
    align-self: flex-end;
    width: 100%;
    position: relative;
    bottom: 4px;
    /* transition: ease 0.08s; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2px;
    /* flex-wrap: wrap; */
}
#goal-view-container.three-rows #goal-container {
    bottom: 10px;
}

.goal-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.goal-row:last-child {margin-bottom: 4px;}
.goal-row.align-left::after {
    content: "";
    width: 44px;
    height: 44px;
    margin: 2px;
}
.goal-row.align-left{
    margin: 0;
}
/* #goal-container:hover {
    background-color: rgb(71, 17, 34);
    transition-duration: 0s;
}

#goal-container:active {
    background-color: rgb(62, 15, 30);
} */

.goal-cube {
    color: rgb(34, 136, 87);
    font-size: 32px;
    margin: 0 2px; 
}
.goal-cube.upsidedown {
    transform: rotate(180deg);
}

#goal-bar {
    position: relative;
    bottom: 5px;
    width: 100%;
    background-color: white;
    height: 6px;
    display: flex;
    justify-content: center;
    /* align-self: flex-end;
    bottom: 25px; */
}
#goal-view-container.three-rows #goal-bar {
    align-self: flex-end;
    bottom: 25px;
}

#bottom-puzzle-container {
    display: flex;
    margin: 5px auto;
    margin-bottom: 100px;
    width: min(100%, 810px);
}

#resources-container {
    display: flex;
    flex-wrap: wrap;
}

#submit-button {
    z-index: 2;
    margin: 5px;
    margin: auto;
    margin-right: 10px;
    width: 120px;
    height: 44px;
    border-radius: 5px;
    background-color:rgb(66, 173, 100);
    bottom: -20px;
    box-shadow: 3px 3px 4px rgb(0 0 0 / 20%);;
    font-size: 1em;
    color: white;
    cursor: pointer;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    transition: 0.1s;
}

#submit-button:hover {background-color:rgb(64, 157, 94)}
#submit-button:active {background-color:rgb(61, 149, 89)}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    width: min(80%, 648px);
    margin: 5px auto;
    margin-top: 100px;
}

.card {
    display: flex;
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    height: 116px;
    width: 78px;
    /* perspective: 900px; */
}

.card-content {
    display: flex;
    transition: transform .27s ease 30ms;
    height: 116px;
    width: 78px;
    border-radius: 10px;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}
.card-content-front {
    position: absolute;
    height: 116px;
    width: 78px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    border-radius: 10px;
    background-color: rgb(238, 235, 223);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.06s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
}

.double .card-content-front {
    height: 113px;
    width: 75px;
    box-shadow: none;
    border-radius: 8px;
    /* display: none; */
}

@media (max-resolution: 100dpi) {
    .double .card-content-front {
        height: 112px;
        width: 74px;
    }
}

.double .card-border {
    position: absolute;
    height: 116px;
    width: 78px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    background:
    radial-gradient(
        30px 30px at 50% 50%, rgb(255, 246, 222) -10%, gold
    ) top left/200% 200%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation: border-shine 8s linear infinite;
}

@keyframes border-shine {
    30% {
        background-position: top right;
    }
    45% {
        background-position: bottom right;
    }
    65% {
        background-position: bottom left;
    }
}

.card-content-back {
    position: absolute;
    height: 116px;
    width: 78px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    background-color: rgb(136, 31, 43);
    transform: rotateX(-180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card.flip .card-content {transform: rotateX(-180deg);}

.card:hover {filter: brightness(98%)}
.card.flip:hover {filter: brightness(92%)}

.card-content-front .blue, .card-content-front .red, .card-content-front .green, .card-content-front .yellow {
    position: absolute;
    border-radius: 100%;
    height: 22px;
    width: 22px;
}
.card-content-front .blue {top: 8px; background-color: rgb(28, 116, 227);}
.card-content-front .red {top: 34px; background-color: rgb(196, 41, 38);}
.card-content-front .green {top: 60px; background-color: rgb(34, 136, 87)}
.card-content-front .yellow {top: 86px; background-color: rgb(230, 206, 53)}

.card.blank-wild .card-border, .card.blank-wild:not(.double) .card-content-front, .wild-cube {
    --purple: rgba(245, 68, 233, 0.256);
    /* --purple: transparent; */
    --dark-blue: rgba(45, 119, 248, 0.307);
    /* --dark-blue: transparent; */
    --light-blue: rgba(49, 131, 255, 0.371);
    /* --light-blue: transparent; */
    --blue: rgba(203, 221, 255, 0.25);
    --blue: transparent;
    box-shadow: 
    2px -2px 6px var(--dark-blue),
    2px 2px 6px var(--purple),
    -2px 2px 6px var(--light-blue),
    -2px -2px 6px var(--blue);
    animation: shadow 3500ms linear infinite, border-shine 8s linear infinite;
}
.restraint-cube.wild-cube {
    --purple: rgba(246, 123, 238, 0.566);
    --dark-blue: rgba(122, 170, 251, 0.607);
    --light-blue: rgba(129, 177, 251, 0.671);
    box-shadow: 
    2px -2px 6px var(--dark-blue),
    2px 2px 6px var(--purple),
    -2px 2px 6px var(--light-blue),
    -2px -2px 6px var(--blue);
    animation: shadow 3500ms linear infinite
}
#puzzle-container .wild-cube {
    cursor: pointer
}

#input-container .wild-cube {
    border: 1.5px solid rgb(195, 69, 220);
    animation: wild-border 4500ms ease infinite;
}

@keyframes wild-border {
    50% {
        border-color: rgba(45, 119, 248);
    }
    66% {
        border-color: rgb(45, 100, 182);
    }
}

@keyframes shadow {
    25% {
        box-shadow: 
        -2px -2px 6px var(--dark-blue),
        2px -2px 6px var(--purple),
        2px 2px 6px var(--light-blue),
        2px -2px 6px var(--blue);
    }
    50% {
        box-shadow: 
        -2px 2px 6px var(--dark-blue),
        -2px -2px 6px var(--purple),
        2px -2px 6px var(--light-blue),
        2px 2px 6px var(--blue);
    }
    75% {
        box-shadow: 
        2px 2px 6px var(--dark-blue),
        -2px 2px 6px var(--purple),
        -2px -2px 6px var(--light-blue),
        -2px 2px 6px var(--blue);
    }
}

td {
    height: 50px;
    width: 50px;
    vertical-align: top;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.85);
    line-height: 11px;
    font-size: 11px;
    font-weight: 550;
}
#map-view-container {
    position: relative;
    z-index: 10;
    display: flex;
    position: fixed;
    left: 0;
    top: 15%;
    translate: -277px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s
}
#map-view-container.shown {
    translate: 0;
}
/* #map-view-container:hover {
    translate: 0;
} */
#map-container {
    background-color: whitesmoke;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    border-radius: 0 8px 8px 0;
    z-index: 3;
}
#map {
    margin: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}
#map .whitebg {
    background-color: whitesmoke;
}

#map td {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

#map td:hover.whitebg {
    background-color: rgb(219, 219, 219)
}

#map td.strike-through::before {
    content: "";
    display: block;
    position: absolute;
    left: 25px;
    top: -13px;
    height: 73px;
    width: 1.2px;
    transform: rotate(45deg);
    background-color: black;
}

.horizontal-table-heading {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.vertical-table-heading {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#variations-view-container {
    position: relative;
    z-index: 10;
    display: flex;
    position: fixed;
    left: 0;
    top: 55%;
    translate: -200px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

#variations-view-container.shown {
    translate: 0
}
#variations-container {
    text-align: center;
    z-index: 3;
    height: 230px;
    width: 200px;
    background-color: whitesmoke;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    border-radius: 0 8px 8px 0;
}

#variations-container ul {
    margin: 0;
    padding: 0;
    line-height: 25px;
    list-style-type: none;
}
#variations-arrow-box, #map-arrow-box {
    position: absolute;
    line-height: 110px;
    text-align: center;
    right: -30px;
    height: 110px;
    width: 30px;
    border-radius: 0 5px 5px 0;
    align-self: center;
    background-color: whitesmoke;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.08s ease;
}
#map-view-container, #variations-view-container {
    transition: translate cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s, filter 0.25s cubic-bezier(.4,0,.2,1);
}
#variations-view-container.dark, #map-view-container.dark {
    filter: brightness(92%)
}

#variations-arrow-box:hover, #map-arrow-box:hover {
    background-color: rgb(239, 239, 239);
}

#keyboard-container {
    z-index: 5;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: rgb(239, 239, 239);
    justify-content: center;
    flex-wrap: wrap;
    transition: translate cubic-bezier(0.165, 0.84, 0.35, 0.87) 0.2s, filter 0.25s cubic-bezier(.4,0,.2,1);
    translate: 0;
    padding: 8px 0 4px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
#keyboard-container.dark {
    filter: brightness(95%)
}

#keyboard-container.hidden {
    translate: 0 100%;
}
.keyboard-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.keyboard-button {width: 76px;}
.keyboard-button.backspace {
    /* content: "Delete"; */
    color: rgb(28, 116, 227);
    font-family: Arial;
    font-weight: 500;
    font-weight: 700;
    font-size: 18px;
}
.keyboard-cube.left-parenthesis::after, .keyboard-cube.right-parenthesis::after {
    color: rgb(28, 116, 227);
    position: relative;
    bottom: 2px;
}

#answer-background, #menu-background, #wild-background {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vw;
    background-color: black;
    top: 0;
    /* cursor: pointer; */
    transition: 0.25s cubic-bezier(.4,0,.2,1);
}
#answer-background {z-index: 6;}
#menu-background {z-index: 4}
#wild-background {z-index: 4}
#answer-background.shown{
    visibility: visible;
    opacity: 0.4;
}
#menu-background.shown {
    visibility: visible;
    opacity: 0.2;
}
#wild-background.shown {
    /* cursor: pointer; */
    visibility: visible;
    opacity: 0.15;
}

@keyframes answer-background {
    0%   {opacity: 0;}
    100%   {opacity: 0.4;}
}

#new-answer {
    z-index: 6;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    height: 87%;
    
    width: 90%;
    max-width: 1200px;
    transform: translateX(-50%);
    left: 50%;
    
    /* left: 100px;
    width: 900px; */

    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    border-radius: 10px 10px 0 0;
    translate: 0 100%;
    transition: translate 350ms cubic-bezier(0.15, 0.94, 0.41, 0.99) 0ms;
    display: flex;
    flex-direction: column;
}

#new-answer.shown {
    transition: translate 550ms cubic-bezier(0.15, 0.94, 0.41, 0.99) 0ms;
    translate: 0;
}

#answer-header {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid gray;
}

.answer-button {
    width: 98px;
    height: 39px;
    background-color:rgb(66, 173, 100);
    text-align: center;
    line-height: 39px;
    font-size: 1.17em;
    color: white;
    border-radius: 5px;
    transition: all 100ms ease 0ms;
    cursor: pointer
}
.answer-button:hover {background-color:rgb(64, 157, 94);}
.answer-button:active {background-color:rgb(61, 149, 89)}

#answer-content {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#input-result {
    margin: 50px 0 10px 0;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.271);
    text-align: left;
    padding: 20px 30px;
}
#input-result h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin: 0;
}
#input-result p {
    margin: 10px 0;
    font-size: 1.1em !important;
}

.answer-toggle-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    height: 30px;
    width: 184px;
    background-color:rgb(235, 235, 235);
    margin: 15px;
}
.answer-left-toggle, .answer-right-toggle {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 8;
    width: 90px;
}

.answer-toggle-div {
    position: absolute;
    height: 30px;
    width: 90px;
    left: 0;
    border-radius: 8px;
    background-color: rgb(220, 220, 220);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.14s left;
}
.answer-toggle-div.move {left: calc(100% - 90px);}

#answer-content p {
    font-size: 1.17em;
}

#evaluation-paragraph {
    color: rgb(116, 116, 116);
    font-size: 14px !important;
    margin: 6px 0px 18px;
}

.answer-solution-container {
    background-color: rgb(241, 241, 241);
    display: flex; 
    flex-direction: column;
    max-width: 80%;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.answer-solution-sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answer-solution-container > :first-child, .answer-solution-container > :last-child {
    display: flex;
    flex-direction: row;
    line-height: 48px;
}

.card-set {
    margin: 30px auto;
    margin-top: 10px;
    /* width: 80%; */
    max-width: 616px;
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
}
#new-answer .card:hover.flip {filter: none}
#new-answer .card:hover.flip .card-content{transform: rotateX(0)}
#new-answer .card:active {filter: brightness(96%) !important}
#new-answer .card.flip:active {filter: brightness(98%) !important}

#wild-picker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 262px;
    height: 112px;
    padding: 6px;
    background-color: whitesmoke;
    position: absolute;
    box-shadow: 0 2px 3px rgb(0 0 0 / 35%);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.22s ease;
    transition-property: opacity, visibility;
    /* transition: visibility 0.22s ease; */
    z-index: 5;
}
#wild-picker-container.shown {
    opacity: 1;
    visibility: visible;
}
#wild-picker-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 8px;
    z-index: 1;
}
#wild-picker-content div {
    cursor: pointer;
}
#wild-picker-container::after {
    background-color: whitesmoke;
    content: "";
    display: block;
    transform: rotate(45deg);
    position: absolute; 
    bottom: -2px;
    /* box-shadow: 0 2px 3px rgb(0 0 0 / 35%); */
    width: 15px;
    height: 15px;
}
.wild-cube.active {
    z-index: 5;
}
/* #wild-picker-hover-content {
    width: 44px;
    height: 52px;
    position: absolute;
    bottom: -52px;
} */

.notification {
    border-radius: 8px;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 1.07em;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
    transition: 0.1s;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.notification.green{background-color: rgb(51, 186, 65)}
.notification.red{background-color: rgb(204, 65, 60)}

.notification:hover {
    filter: brightness(0.95)
}

.notification.fade-out {animation: fade-out 0.18s ease forwards !important}

@keyframes fade-out {
    100% {opacity: 0;}
}
@keyframes bounce {
    0% {top: 0; opacity: 0;}
    40% {top: 72px; opacity: 1;}
    80% {top: 68px;}
    100% {top: 70px;}
}

@keyframes shake {
    0% {}
}

@media screen and (max-height: 450px) {
    #map-view-container {
        top: 8%;
    }
    #variations-view-container {
        top: 45%;
    }
}
